<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список автомобилей</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Список автомобилей</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Бренд</th>
            <th>Модель</th>
            <th>Класс</th>
            <th>Год</th>
            <th>Цена$</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.brend}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.carClass}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="${car.price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
